{% extends 'base.html' %}

{% block content %}
    <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">설문 리스트</h1>

          </div>
    <a href="{% url 'review_new' %}">새로운 설문 등록</a>
    {% if review_lists %}
        <ul>
        {% for review in review_lists %}
            <li><a href="{% url 'review_detail' review.id %}">{{ review.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}