{% extends 'base.html' %}

{% block content %}
<a href="{% url 'review_new' %}">
    <button class="btn btn-sm btn-primary">새로운 설문 등록</button>
</a>
<br>
<br>


{% for review in review_lists %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">
            <li><a href="{% url 'review_detail' review.id %}">{{ review.question_text }}</a> {{ review.created_date | date:'y/m/d G:i' }} 좋아요 {{ review.likes_count }}개
            </li>
        </h6>
        <div class="dropdown no-arrow">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#"
               id="dropdownMenuLink" role="button">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <ul>
            {% for choice in review.choice_set.all %}
            <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}
