{% extends 'base.html' %}
{% block title %}
    새로운 강의평가 등록
{% endblock %}
{% block content %}
    <style type="text/css">
        .card li{ list-style-type: none }
    </style>
    <div class="card mb-4">

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">설문조사 템플릿</h6>
                    <input maxlength="100"  class="form-control-sm" placeholder="설문 주제를 입력해주세요">
                </div>
                <div class="card-body">
                  <form>
        <div><button href="#" id="createForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">설문 등록</button></div>
        {% csrf_token %}

        <ul>
            <li><input type="text" class="item form-control-sm" name="choice_text_1" maxlength="100" required id="id_question_text_1" placeholder="항목 1"></li>
            <li><input type="text" class="item form-control-sm" name="choice_text_2" maxlength="100" required id="id_question_text_2" placeholder="항목 2"></li>
            <li><input type="text" class="item form-control-sm" name="choice_text_3" maxlength="100" required id="id_question_text_3" placeholder="항목 3"></li>
        </ul>
    </form>
    <div><button href="#" id="newItemButton" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">항목 추가</button></div>
                </div>
              </div>
    </div>

{% endblock %}
{% block jquery %}
    <script>
        $(function () {
           var $newItemButton = $('#newItemButton');

           $('#newItemButton').on('click', function(e){
              e.preventDefault();
              var length = $('form li').length;
              if (length > 4){
                  alert('5개 이상은 만들 수 없습니다.');
                  return
              }
              var nextId = length + 1;
              var $item = $("<li><input type='text' class='item form-control-sm' " +
                  "name = 'choice_text_" + nextId +
                  "' required id='id_question_text_"+ nextId +
                  "' placeholder='항목 " + nextId + "'></li>");
              $('input.item:last').after($item);

           });
        });
    </script>
{% endblock %}