<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Lecture-test</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "lecture/vendor/fontawesome-free/css/all.min.css" %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "lecture/css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>


<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" placeholder="이름" value="{{ sign_name }}">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="닉네임" value="{{ sign_id }}">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" placeholder="이메일" value="{{ sign_email }}">
                </div>
                  <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          <input list="browsers" class="form-control form-control-user" placeholder="반선택" value="{{ sign_class }}">
                              <datalist id="browsers">
                                  <option value="클라우드"></option>
                                  <option value="빅데이터"></option>
                                  <option value="머신러닝"></option>
                                  <option value="IoT"></option>
                              </datalist>
                      </div>
                      <div class="col-sm-6">
                    <input type="tel" class="form-control form-control-user" placeholder="전화번호" value="{{ sign_phone }}">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" placeholder="비밀번호" value="{{ sign_password }}">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" placeholder="비밀번호 확인" value="{{ sign_password }}">
                  </div>
                </div>
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  회원 등록
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">비밀번호 찾기</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">로그인</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static "lecture/vendor/jquery/jquery.min.js" %} "></script>
  <script src="{% static "lecture/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "lecture/vendor/jquery-easing/jquery.easing.min.js" %} "></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "lecture/js/sb-admin-2.min.js" %} "></script>

</body>

</html>
