<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chat</title>

  <!-- Custom fonts for this template-->
  <link href="{% static "lecture/vendor/fontawesome-free/css/all.min.css" %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static "lecture/css/sb-admin-2.min.css" %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Select your Class, Nickname.</h1>
                  </div>
                    <!--
                    <div class="form-group">

                    <select name="room_name" id="room_name" class="form-control form-control-user" placeholder="Room Name"><br>
                        <option value="AI">AI</option>
                        <option value="BIGDATA">BIG DATA</option>
                        <option value="CLOUD">CLOUD</option>
                        <option value="IOT">IOT</option>
                    </select>
                    </div>

                    <div class="form-group">
                    -->

                    <!--<input type="text" name="person_name" id="person_name" class="form-control form-control-user" placeholder="Your Nickname"><br>-->

                    <!--

                    </select>


                    </div>
                     -->
                    <input type="button" name="button" class="btn btn-primary btn-user btn-block" value="Click to Start Chat" id="submit">
                  <hr>
                    {% if user %}
                    <input type="hidden" id="myVar1" name="variable" value="{{ user.my_class }}">
                    <input type="hidden" id="myVar2" name="variable" value="{{ user_nickname }}">
                    {% endif %}
                    <script type="text/javascript">

                        document.querySelector("#submit").onclick=function(e){
                        //var roomname=document.querySelector("#room_name").value;
                        //var personname=document.querySelector("#person_name").value;
                        //window.location.pathname='/chat/'+roomname+'/'+personname;

                        var roomname=document.getElementById("myVar1").value;
                        var dictob={}
                        dictob[1]='AI';
                        dictob[2]='CLOUD';
                        dictob[3]='BIGDATA';
                        dictob[4]='IOT';
                        var roomname2=dictob[roomname]
                        var personname=document.getElementById("myVar2").value;
                        window.location.pathname='/chat/'+roomname2+'/'+ personname;
                        }
                    </script>

                <div class="text-center">
                    <a class="small" href="/">Home</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static "lecture/vendor/jquery/jquery.min.js" %} "></script>
  <script src="{% static "lecture/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static "lecture/vendor/jquery-easing/jquery.easing.min.js" %} "></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static "lecture/js/sb-admin-2.min.js" %} "></script>

</body>

</html>
