{% extends 'base.html' %}

{% block content %}
<a href="{% url 'board_new' %}">
    <button class="btn btn-sm btn-primary"> 글쓰기 </button>
</a>
    <br>
    <br>



{% for postboard in board_user_list %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"><a href="{% url 'board_detail' pk=postboard.0.pk %}">{{postboard.0.title}}</a> ({{ postboard.1.nick_nickname }}) </h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <p>{{postboard.0.published_date}}</p>
        <p>{{postboard.0.text|linebreaksbr}}</p>
        <p> 댓글 : {{postboard.0.comments.count}} </p>
        <a href="{% url 'board_detail' pk=postboard.0.pk %}" >
            <button class="btn btn-sm btn-primary"> 게시글 자세히 보기 </button>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
