option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": "x9+i*rbir30e5k&&^sl3hq#*x%wt9d#_#859%alhz^uyg=+e2r"
    "DATABASE_NAME": "django_db"
    "DATABASE_USER": "django"
    "DATABASE_PASSWORD": "django1234"
    "AWS_ACCESS_KEY_ID": "AKIAWQSOGDSJZQAKLOOU"
    "AWS_SECRET_ACCESS_KEY": "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"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "lecture_review/wsgi.py"

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
