{#1. 강의 메인 템플릿 #}
{# 메인에 있는 강의 리스트는 admin에서만 수정 삭제 추가 가능  #}

{#6. views에서 넘겨준 인자를 통해 반복문으로 보여주기 #}

{% block content %}
{% for lects in lectures.all %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{lects.lecture_title}}</h6>
        <div class="dropdown no-arrow">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#"
               id="dropdownMenuLink" role="button">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right shadow animated--fade-in">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <p>{{lects.lecture_name}} ({{lects.lecture_room}}호)</p>
        <a class="eval_list" href="{% url 'eval_list' lects.id %}">
            <button class="btn btn-sm btn-primary"> 강의평 보기</button>
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block jquery %}
<script>
    $('.eval_list').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: $(this).attr('href'),
            dataType: 'html',
            success: function (response) {
                $('#main-content').html(response);
                $('head title').html("평가목록");
                location.hash = "eval_list";
            },
            error: function (request, status, error) {
                console.log(request);
                alert(error);
            }
        });
    });
</script>
{% endblock %}
