{% extends 'lecture/base.html' %}

{% block content %}
    <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">책 목록</h1>

          </div>
    {% for book in books %}
        <div class="book">
            <h2>제목 : {{ book.book_title }}</h2>
        </div>
        <h4>가격 : {{ book.book_price }}</h4>
        <h4>저자 : {{ book.book_author }}</h4>
        <h4>평점 : {{ book.book_like }}</h4>
        <h4><a href="{{ book.book_link }}">구매하러 가기 !</a></h4>
        <br>
    {% endfor %}
{% endblock %}