{% block content %}
<div>
    <h4><a class="book_list" href="{% url 'book_list' %}?book_kind=django">Django</a></h4>
    <h4><a class="book_list" href="{% url 'book_list' %}?book_kind=mysql">MySQL</a></h4>
    <h4><a class="book_list" href="{% url 'book_list' %}?book_kind=cloud">Cloud</a></h4>
    <h4><a class="book_list" href="{% url 'book_list' %}?book_kind=java">Java</a></h4>
    <h4><a class="book_list" href="{% url 'book_list' %}?book_kind=react">React</a></h4>
</div>
{% endblock %}

{% block jquery%}
<script>
    $('.book_list').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'GET',
            url: $(this).attr('href'),
            dataType: 'html',
            success: function (response) {
                $('#main-content').html(response);
                $('head title').html("책 목록");
                location.hash = "book-list";
            },
            error: function (request, status, error) {
                console.log(request);
                alert(error);
            }
        });
    });
</script>
{% endblock %}