{% extends 'lecture/base.html' %}

{% block content %}
    <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">책 목록</h1>

          </div>

    {% for book in books %}
        <p>
        <div class="book">
            {{ forloop.counter }}
            <h2>도서명 : {{ book.booktitle }}</h2>
        </div>

            <img src="/static/lecture/img/{{ forloop.counter }}.jpg" width='200' alt="{{ book.book_title  }}">

        <div>
            <h3>가격:{{ book.book_price }}</h3>
            <h3>저자:{{ book.book_author }}</h3>
        </div>
        <span>
            <h4>추천수 :{{ book.book_like }}</h4>
        </span>
        <h4><a href=" {{ book.book_link }}">구매하기 </a></h4>
        <br>
        </p>
    {% endfor %}
{% endblock %}